@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,300;0,400;1,600&display=swap');

*{
    margin: 10px;
    box-sizing: border-box;
}
    
    header {
        margin: 154px 10px;
        padding-top: 30px;
        width: 100%;
        border-top: 1px solid black ;
    }
    
    body{
        font-family: "Poppins", sans-serif;
        font-size: 10px;
    }
    
    h1{
       color: #2C313F;
       text-transform: uppercase;
       text-align: center;
       font-size: 8.75em;
       font-family: "Dancing Script", cursive;
       line-height: 140px;
    }

    h2, h3, h4{
        color: #592e4f;
        text-align: left;
        font-size: 4em;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
    }
    
    p,a {
        font-size: 1.81em;
        font-weight: 300;
    }
    
    a{
        font-size: 1.81em;
        font-weight: 300;
        font-family: "Dancing Script", cursive;
        text-decoration: none;
        color: #2C313F;
        border: 1px solid;
        padding: 0.5em 1em;
    }
    
    a:hover {
        border-style: dashed;
        background-color: #592e4f;
        color: white;
    }
    
    .secondsection{
        width: 30%;
        margin: auto;
        display: block;
    }

    section{
        width: 100%;
        margin-bottom: 1em;
    }

    #firstsection h2, h4, p {
        width: 40%;
        text-align: left;
        justify-content:left;
        margin: 10px;
    }
  
    #firstsection h4 {
        text-align: right;
    }

    #firstsection img{
        width: 30%;
        margin-top: 1em;
        border: 1px solid;
    }
    
    #firstsection {
        width: 100%;
    }

    div{
        width: 83.33%;
    }

    div div{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    main, footer {width: 100%;}
    
    footer{
        background-color: black;
        height: 100px;
    }   

    header p{
        width: 100%;
    }

    body{margin: 10px;}

   @media (max-width: 768px) 


